Repository GymOne/GymOne-website: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
            steps{
          dir("gym-website-backend"){
          sh "npm install"
          sh "npm run build"
          }
          sh "docker-compose --env-file Config/Test.env build api"
        }
      

Build Frontend:
            steps{
              dir("gym-website-frontend"){
                sh "npm update --force"
                sh "ng build --prod"
              }
              sh "docker-compose --env-file Config/Test.env build web"
            }
          

jenkinsfile
  Jenkinsfile
Due: none

test
  Jenkinsfile
  Jenkinsfile.test
  Tests/loadtests/performance-test.js
Due: none

jenkinsfile test
  Jenkinsfile.test
Due: none

dgdf
  Jenkinsfile.test
Due: none

stress test
  Jenkinsfile.test
  Tests/loadtests/stress-test.js
Due: none

stress test
  Jenkinsfile.test
Due: none

testcafe test
  Jenkinsfile.test
  Tests/load/stress-test.js
  Tests/testcafe/frontend-test.js
Due: none

tests
  Jenkinsfile.test
  Tests/k6/stress-test.js
Due: none

firefox
  Jenkinsfile.test
Due: none

testcafe tests
  Tests/testcafe/frontend-test.js
Due: none

Images work upload and display
  gym-website-backend/src/users/dto/EmailHolderObject.ts
  gym-website-backend/src/users/user-image.service.ts
  gym-website-backend/src/users/user.controller.ts
  gym-website-frontend/src/app/profile/profile.component.html
  gym-website-frontend/src/app/profile/profile.component.scss
  gym-website-frontend/src/app/profile/profile.component.ts
  gym-website-frontend/src/app/shared/services/profile.service.ts
  gym-website-frontend/src/assets/ProfilePlaceholder.svg
Due: Build Backend, Build Frontend

profile styling
  gym-website-frontend/src/app/profile/profile.component.html
  gym-website-frontend/src/app/profile/profile.component.scss
Due: Build Frontend

working on adding path to the db
  gym-website-backend/src/infrastructure/mongo/schemas/user.schema.ts
  gym-website-backend/src/users/dto/upload-mobile.dto.ts
  gym-website-backend/src/users/entities/user.entity.ts
  gym-website-backend/src/users/user.controller.ts
  gym-website-backend/src/users/user.service.ts
  gym-website-frontend/src/app/profile/profile.component.ts
Due: Build Backend, Build Frontend

changed missing endpoints to the env
  gym-website-frontend/src/app/shared/services/profile.service.ts
Due: Build Frontend

img_fix
  gym-website-backend/src/infrastructure/mongo/schemas/image.schema.ts
  gym-website-backend/src/users/user-image.service.ts
Due: Build Backend

adding feature to store path to the photo stored locally done
  gym-website-backend/package.json
  gym-website-backend/src/infrastructure/mongo/schemas/user.schema.ts
  gym-website-backend/src/users/dto/updateMobileImgPath.ts
  gym-website-backend/src/users/entities/user.entity.ts
  gym-website-backend/src/users/user.controller.ts
  gym-website-backend/src/users/user.service.ts
Due: Build Backend

download gimmick
  gym-website-backend/uploads/06469c20438c48e662fde98c7768b8e8
  gym-website-backend/uploads/6fc31b9737392fd0a5ec7d3371c7bb21
  gym-website-backend/uploads/7114c8c5fc0aa24fe2eb0b74d9d893bc
  gym-website-backend/uploads/7937c49f57ec4aeeed5fd17bb314692c
  gym-website-backend/uploads/ec6812cedb856d75582dfda263ade141
  gym-website-frontend/src/app/about/about.component.html
  gym-website-frontend/src/app/about/about.component.scss
  gym-website-frontend/src/app/contact/contact.component.html
  gym-website-frontend/src/app/contact/contact.component.scss
  gym-website-frontend/src/assets/images/phone.png
Due: Build Backend, Build Frontend

download gimmick
  gym-website-backend/uploads/06469c20438c48e662fde98c7768b8e8
  gym-website-backend/uploads/6fc31b9737392fd0a5ec7d3371c7bb21
  gym-website-backend/uploads/7114c8c5fc0aa24fe2eb0b74d9d893bc
  gym-website-backend/uploads/7937c49f57ec4aeeed5fd17bb314692c
  gym-website-backend/uploads/ec6812cedb856d75582dfda263ade141
Due: Build Backend

44
  gym-website-backend/src/users/user.controller.ts
  gym-website-backend/uploads/b4b8a8f4269a69f1ca023011585b43ac
  gym-website-backend/uploads/b9b86af37379e1da4317e2dd6ad7add8
Due: Build Backend

Path conditions:
  Build Backend: any of: gym-website-backend/**
  Build Frontend: any of: gym-website-frontend/**
